@model Shop.Models.Cart
@{
    ViewBag.Title = "Cart";
}

<div class="page-sections">
    <div class="text-right">
        @if (TempData["CartItemRemoved"]!=null)
        {
            <div class="alert alert-success d-inline mr-2" role="alert">
                @TempData["CartItemRemoved"]
            </div>
        }
    </div>
    @* add a link to visit the product from the cart *@
    <table class="table nav-padding">
        <thead>
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Product</th>
                <th scope="col">Category</th>
                <th scope="col">Size</th>
                <th scope="col">Price</th>
                <th scope="col">Qty</th>
                <th scope="col">Discount</th>
                <th scope="col">Product SubTotal</th>
                <th scope="col">Product Total</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.CartItems.Count < 1)
            {
                <tr>
                    <td class="text-center" colspan="9">Cart Is Empty</td>
                </tr>
            }
            else
            {
                @foreach (var cartItem in Model.CartItems)
                {
                    <tr>
                        <td><img class="cart-product-image" src="@cartItem.Product.ImgUrl" /></td>
                        <td>@cartItem.Product.Title</td>
                        <td>@cartItem.Product.Type.ToString()</td>
                        <td>@cartItem.Size</td>
                        <td>Rs.@cartItem.Product.Price</td>
                        <td>@cartItem.Qty</td>
                        <td>Rs.@cartItem.CalculateDiscount()</td>
                        <td>Rs.@cartItem.CalculateSubTotal()</td>
                        <td>Rs.@cartItem.CalculateTotal()</td>
                        <td class="font-weight-bold ">
                            <form asp-action="Delete" method="post">
                                <input type="hidden" value="@cartItem.CartItemId" name="deleteCartItemId" />
                                <button class="btn btn-danger">Delete</button>
                            </form>

                        </td>
                    </tr>
                }
            }
            <br />
            @if (Model.CartItems.Count > 0)
            {
                <tr>
                    <td class="no-border"></td>
                    <td class="no-border"></td>
                    <td class="no-border"></td>
                    <td class="no-border"></td>
                    <td class="no-border"></td>
                    <td class="no-border"></td>
                    <td class="font-weight-bold ">Total Discount</td>
                    <td class="font-weight-bold ">SubTotal</td>
                    <td class="font-weight-bold ">Total</td>
                    <td class="font-weight-bold "></td>
                </tr>
                <tr>
                    <td class="no-border"></td>
                    <td class="no-border"></td>
                    <td class="no-border"></td>
                    <td class="no-border"></td>
                    <td class="no-border"></td>
                    <td class="no-border"></td>
                    <td>Rs.@Model.GetDiscount()</td>
                    <td>Rs.@Model.GetSubTotal()</td>
                    <td>Rs.@Model.GetTotal()</td>
                    <td class="font-weight-bold "></td>
                </tr>
                <tr>
                    <td class="no-border"></td>
                    <td class="no-border"></td>
                    <td class="no-border"></td>
                    <td class="no-border"></td>
                    <td class="no-border"></td>
                    <td class="no-border"></td>
                    <td class="no-border"></td>
                    <td class="no-border"></td>
                    <td class="text-right no-border"><a asp-controller="Checkout" asp-action="Index" class="btn btn-success">Proceed To Checkout</a></td>

                </tr>
            }

        </tbody>
    </table>
</div>