@model Shop.Core.Models.Cart
@{
    ViewBag.Title = "Cart";
}

<div class="page-sections">
    <div class="text-right">
        @if (TempData["CartItemRemoved"] != null)
        {
            <div class="alert alert-success d-inline mr-2" role="alert">
                @TempData["CartItemRemoved"]
            </div>
        }
        <div id="customer-error" class="hide alert-danger d-inline mr-2" role="alert"></div>
    </div>

    <table class="table nav-padding">
        <thead>
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Product</th>
                <th scope="col">Category</th>
                <th scope="col">Size</th>
                <th scope="col">Price</th>
                <th scope="col">Qty</th>
                <th scope="col">Discount</th>
                <th scope="col">Product SubTotal</th>
                <th scope="col">Product Total</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.CartItems.Count < 1)
            {
                <tr>
                    <td class="text-center" colspan="9">Cart Is Empty</td>
                </tr>
            }
            else
            {
                @foreach (var cartItem in Model.CartItems)
                {
                    <tr  data-id="@cartItem.CartItemId" id="cart-item-row">
                        <td><img class="cart-product-image" src="@cartItem.Product.ImgUrl" /></td>
                        <td><a id="cart-product-link" asp-controller="product" asp-action="Details" asp-route-id="@cartItem.Product.ProductId">@cartItem.Product.Title</a></td>
                        <td>@cartItem.Product.Type.ToString()</td>
                        <td>@cartItem.Size</td>
                        <td>Rs.@cartItem.Product.Price</td>
                        <td>@cartItem.Qty</td>
                        <td  data-id="@cartItem.CartItemId" id="cart-item-discount">Rs.@cartItem.GetDiscount()</td>
                        <td  data-id="@cartItem.CartItemId"  id="cart-item-subtotal">Rs.@cartItem.GetSubTotal()</td>
                        <td  data-id="@cartItem.CartItemId"  id="cart-item-total">Rs.@cartItem.GetTotal()</td>
                        <td class="font-weight-bold ">
                            <form >
                                <input type="hidden" value="@cartItem.CartItemId" name="deleteCartItemId" />
                                <button type="button" data-id="@cartItem.CartItemId" onclick="deleteSelectedCartItem(this)" id="cart-item-delete-button"  class="btn btn-danger">Delete</button>
                            </form>

                        </td>
                    </tr>
                }
            }
            <br />
            @if (Model.CartItems.Count > 0)
            {
                <tr>
                    <td class="no-border"></td>
                    <td class="no-border"></td>
                    <td class="no-border"></td>
                    <td class="no-border"></td>
                    <td class="no-border"></td>
                    <td class="no-border"></td>
                    <td class="font-weight-bold ">Total Discount</td>
                    <td class="font-weight-bold ">SubTotal</td>
                    <td class="font-weight-bold ">Total</td>
                    <td class="font-weight-bold "></td>
                </tr>
                <tr>
                    <td class="no-border"></td>
                    <td class="no-border"></td>
                    <td class="no-border"></td>
                    <td class="no-border"></td>
                    <td class="no-border"></td>
                    <td class="no-border"></td>
                    <td id="cart-item-discount-value">Rs.@Model.GetDiscount()</td>
                    <td id="cart-item-subtotal-value">Rs.@Model.GetSubTotal()</td>
                    <td id="cart-item-total-value">Rs.@Model.GetTotal()</td>
                    <td class="font-weight-bold "></td>
                </tr>
                <tr>
                    <td class="no-border"></td>
                    <td class="no-border"></td>
                    <td class="no-border"></td>
                    <td class="no-border"></td>
                    <td class="no-border"></td>
                    <td class="no-border"></td>
                    <td class="no-border"></td>
                    <td class="no-border"></td>
                    <td class="text-right no-border"><a asp-controller="Checkout" asp-action="Index" class="btn btn-success">Proceed To Checkout</a></td>

                </tr>
            }

        </tbody>
    </table>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.7/dist/loadingoverlay.min.js"></script>
    <script src="~/Content/Js/Cart.js"></script>

</div>

