<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link href="~/Content/Css/Style.css" rel="stylesheet">
    <script src="~/Content/Js/index.js"></script>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>


</head>
<body>
    <nav class="navbar navbar-light nav-padding ">
        <span class="navbar-brand mb-0 h1"><a id="shop-logo" asp-controller="Home" asp-action="Index">ShopOnline</a></span>

        <div>
            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success d-inline mr-2" role="alert">
                    @TempData["SuccessMessage"]
                </div>
            }

            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger d-inline mr-2" role="alert">
                    @TempData["ErrorMessage"]
                </div>
            }

            @await Component.InvokeAsync("User")
        </div>
    </nav>

    <nav class="navbar navbar-dark bg-dark nav-padding ">
        <ul class="nav-list-items" id="nav-product-types">
            @foreach (var item in Enum.GetValues(typeof(ProductType)))
            {
                //add product page and add link to these list to that page
                <li>@item.ToString()</li>
            }
        </ul>
        <div>
            <ul class="nav-list-items">
                @await Component.InvokeAsync("Cart")
            </ul>
        </div>
    </nav>

    @RenderBody()
</body>
</html>
