@model List<Shop.Core.Models.Product>
@{
    ViewBag.Title = ViewBag.ProductType;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb product-details-breadcrumb  nav-padding">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item "> @ViewBag.ProductType</li>
    </ol>
</nav>

<section id="product-category-page-cont" class="page-sections">
    <div id="product-category-left">
        <h4>By Price</h4>
        <form method="get">
            <input type="hidden" name="pageNumber" value="@ViewBag.pageNumber" />
            <select onchange="this.form.submit()" name="priceFilterByCat" class="form-select" aria-label="Default select example">
                <option selected>Select</option>
                <option value="low-t-high">Low to high</option>
                <option value="high-t-low">High to low</option>
            </select>
        </form>
    </div>
    <div id="product-category-right">
        @if (Model.Count < 1)
        {
            <h2>No products were found</h2>
        }
        <div class="product-cont">
            <ul class="product-cont-ul">
                @foreach (var product in Model)
                {
                    <li class="mb-4">
                        <a asp-controller="Product" asp-action="Details" asp-route-id="@product.ProductId">
                            <div class="product-item-cont">
                                <img src="@product.ImgUrl" alt="@product.Title" />
                                <p class="product-title">@product.Title</p>
                                <p class="product-price">@product.GetPrice</p>
                            </div>
                        </a>
                    </li>
                }
            </ul>
        </div>

        <nav id="category-page-pagination">
            <ul class="pagination">
                @for (int i = 1; i <= ViewBag.ProductByCategoryListCount; i++)
                {
                    @if (ViewBag.PageNumber != null && ViewBag.PageNumber == i)
                    {
                        <li class="page-item active"><a class="page-link" asp-route-pageNumber="@i" asp-route-category="@ViewBag.ProductType" asp-action="Category">@i</a></li>
                    }
                    else if (ViewBag.PageNumber == null && i == 1)
                    {
                        <li class="page-item active"><a class="page-link"  asp-route-pageNumber="@i" asp-route-category="@ViewBag.ProductType" asp-action="Category">@i</a></li>
                    }
                    else
                    {
                        <li class="page-item"><a class="page-link"  asp-route-pageNumber="@i" asp-route-category="@ViewBag.ProductType" asp-action="Category">@i</a></li>
                    }
                }
            </ul>
        </nav>

    </div>
</section>