@model Shop.Models.Cart
@{
    ViewBag.Title = "Checkout";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Image</th>
            <th scope="col">Product</th>
            <th scope="col">Category</th>
            <th scope="col">Price</th>
            <th scope="col">Qty</th>
            <th scope="col">Discount</th>
            <th scope="col">Product SubTotal</th>
            <th scope="col">Product Total</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.CartItems.Count < 1)
        {
            <tr>
                <td class="text-center" colspan="9">Cart Is Empty</td>
            </tr>
        }
        else
        {
            @foreach (var cartItem in Model.CartItems)
            {
                <tr>
                    <th scope="row">@cartItem.CartItemId</th>
                    <td><img class="cart-product-image" src="@cartItem.Product.ImgUrl" /></td>
                    <td>@cartItem.Product.Title</td>
                    <td>@cartItem.Product.Type.ToString()</td>
                    <td>Rs.@cartItem.Product.Price</td>
                    <td>@cartItem.Qty</td>
                    <td>Rs.@cartItem.CalculateDiscount()</td>
                    <td>Rs.@cartItem.CalculateSubTotal()</td>
                    <td>Rs.@cartItem.CalculateTotal()</td>
                </tr>
            }
        }

        @if (Model.CartItems.Count > 0)
        {
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="font-weight-bold text-center">Total Discount</td>
                <td class="font-weight-bold text-center">SubTotal</td>
                <td class="font-weight-bold text-center">Total</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="text-center">Rs.@Model.GetDiscount()</td>
                <td class="text-center">Rs.@Model.GetSubTotal()</td>
                <td class="text-center">Rs.@Model.GetTotal()</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center">Rs.@Model.GetTotal()</td>
            </tr>
        }

    </tbody>
</table>